body {
	background: black;
	overflow: hidden;
}

#canvas, #canvas-mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 6px;
	height: 100%;
	margin: auto;

	@media (max-width: 769px) {
		left: 0;
		height: 100%;
		width: 100%;
	}
}