body {
	background: black;
}

#canvas, #canvas-mask {
	position: absolute;
	left: 10%;
	top: 0;
	height: 100%;
	width: 80%;
	margin: auto;

	@media (max-width: 769px) {
		left: 0;
		height: 100%;
		width: 100%;
	}
}